@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
.pageContainer{
    font-size: larger;
    font-weight: bold;
}

#blockImage{
    width:400px;
    border-radius: 15px;
    border-style: solid;
    padding: 5px;
}
body{
    margin: 0px;
    background-color: rgb(0, 23, 39);
    color: white;
    font-family: 'Roboto',sans-serif;
}

h2{
    font-style:italic;
}

.links{
    display:flex;
    justify-content: space-between;
    margin:10px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(0, 41, 77);
    align-items: center;
}

.rightLinks{
    display:flex;
    gap:30px;
    margin: 5px;
}

.imageLeftLink{
    margin:5px;
}

.contentContainer{
    display:flex;
}

.textContainer{
    width:20%;
}

.holder{
    display:flex;
    justify-content: center;
    padding: 40px;
    gap:70px;
}

.imageHolder{
    padding: 40px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.imageContainer{
    display:flex;
    width:80%;
    justify-content: space-around;
}
.item{
    width: 300px;
    height: 300px;
    text-align:center;
}

.content{
    background: rgb(122, 193, 255);
}

#flexImage{
    width: 100%;
    height: 60%;
    border-radius: 15px;
    border-style:solid;
    padding:5px
}
.caption{
    margin-top: 5px;
}

.quote{
    height:350px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: 500;
    text-align: center;
    background-color:rgb(255, 253, 250);
}

.quoteBox{
    width: 60%;
    color:rgb(155, 195,255);
}

.name{
    color:rgb(155, 195,255);
}

.signUp{
    height: 350px;
}

